<% content_for :title do %>
  Have Ranking TOP10
<% end %>
<% content_for :description do %>
  Haveしているユーザ数の多い順に表示しています。
<% end %>




<h1><center>Have Ranking!</center></h1>

<%= render 'ranklist' , items: @have_items %>