<% content_for :title do %>
  Want Ranking TOP10
<% end %>
<% content_for :description do %>
  Wantしているユーザ数の多い順に表示しています。
<% end %>


<h1><center>Want Ranking!</center></h1>

<%= render 'ranklist' , items: @want_items %>
